
body{
   display: flex;
    flex-direction: column; 
     /* ページの背景画像を設定及びサイズの変更 */
    background-image: url("DSC_0509.JPG") ;
    background-size: 2000px auto;
   
}
.grovalNavigation{
    height: 70px;
    text-align: center;
    color: #fff;
}

.header-name {
   float: left;
   font-size: 36px;
   color: #4B0082;
   padding: 10px 70px 30px 55px;
}

.header-li {
  float: left;
}

/* liを#vicに変更する */
#vic {
  font-size: 25px;
  list-style: none;
  float: left;
  padding: 5px 20px 33px 80px;
  margin-bottom: 30px;
}

 main{
    min-height: 100vh;
    display: flex; 
    margin-top: 10px;
}
.content{
    flex: 1;
    background-color: #eee;
    margin-left: 10px;
      /* 背景の透過 2019/03/10 */
    opacity: 0.95;
    -moz-opacity: 0.95;
    filter: alpha(opacity=60);
}

.localNavigation{
    width: 300px;
   text-align: left; 
   folat: left;
    background-color: #eee;
    color: #fff;
    /* 背景の透過 2019/03/10 */
     opacity: 0.95;
    -moz-opacity: 0.95;
    filter: alpha(opacity=60);

} 

/* サイドメニューのタイトル 2019/03/10 */
.local {
   background-color: blue;
   padding: 10px;
   text-align: center;
   font-size: 30px;
}

/* サイドメニューのリストボックス 2019/03/10 */
#box1 {
  background-color: lightyellow;
  width: 250px;
  color: black;
  margin-left: 22px;

}

/* サイドメニューのセレクト 2019/03/10 */
.selected {
  width: 300px;
  height: 50px;
  font-size: 20px;
}


footer {
   margin-top : 10px;
   color: #4B0082;
   float: right;
   height: 50px;
}

.right {
  padding-top: 15px;
  padding-right: 10px;
  float: right
}

.tab {
  width: 800px;
  height: 300px;
}

/*  以下、更新箇所 */

.link_button { 
  text-decoration: none;
   color: #4B0082;
}
.link_button:hover {
  color: skyblue;
  font-size: 1em;
}




/* 以下、2019/03/17  */

/* お知らせ タイトル */
.news {
   	font-size: 20px;
   	font-weight: bold;
   	line-height: 1.375;
   	border-bottom: 2px solid #f346;
   	margin-top:10px;
   	margin-bottom: 0;
   

}

/* トップイメージ */
.top_image {
    width: 595px;
    height: 337px;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid blue  ;

}

/* 右のブロック */
.right_move {
    float: right;
     background-color: white;
    width: 610px;
    margin-top: 10px;
    margin-right: 10px;
    height: 337px;
    border: 2px solid blue  ;
}

/* お知らせの中身  */
.colors {
   background-color: lightblue;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 0;
  
}
/* ブログのイメージ  */
.blog_image {
 height: 65px;
 width: 100px;
 margin-top: 5px;

}

/* ブログ用のブロック   */
.blog {
    background-color: lightgreen;
    text-align: center;
    height:112px;
    margin-top:0px;
    margin-left: 10px;
    margin-right: 10px;
}

/* マップを配置するためのブロック   */
.access {
   margin-top:10px;
   margin-bottom: 10px;
   	border-top: 2px solid #f346;
    border-bottom: 2px solid #f346;

}

/* 店舗へのアクセス  */
.access_title {
   margin-left: 10px;
   font-size: 20px;

}

/* mapの位置を指定    */
.map {
  margin-left: 10px;
 
}

/* 2019/03/25  追加 : サイドメニュー */

.form_check {
   height: 75px;
   width: 150px;
   margin-top: 5px;
}

.form_road {
    background-color: lightyellow;
    text-align: center;
    height:110px;
    margin-top:0px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    border: 2px solid #f346;

}

.in_com {
    background-color: lightblue;
    text-align: center;
    height:110px;
    margin-top:0px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    border: 2px solid #f346;

}

.seminar {
   background-color: lightgray;
    text-align: center;
    height:110px;
    margin-top:0px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    border: 2px solid #f346;

}

.eng {
   background-color: #f346;
    text-align: center;
    height:110px;
    margin-top:0px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    border: 2px solid #f346;

}

/* 2019/03/25 終 */





          <!-- 2019/02/24 -->
          <table border="2" class="tab" align="center">
             <tr bgcolor="gray">
                <th> </th>
                <th >受講者名</th>
                <th>受講日</th>
             </tr>
             <tr>
                <th rowspan="4" bgcolor="gray" width="20">HTML</th>
                   <td width="70">竹山 美樹</td>
                   <td width="100">2019/02/08</td>
             </tr>
             <tr>
                <td>眉村 昴</td>
                <td>2018/02/08</td>
             </tr>
             <tr>
                <td>鳥塚 零</td>
                <td>2018/02/08</td>
            </tr>
            <tr>
                <td>荒城 仁</td>
                <td>2018/02/09</td>
            </tr>
         </table>
         <!-- ここまで -->
